@page "/"

<h1 class="text-center home-title">Xellarium</h1>
<p class="text-center">В Xellarium вы можете создавать и исследовать свои клеточные автоматы, а также сохранять понравившиеся вам чужие творения в коллекции!</p>

@code {
    
}