[Oo]bj/
[Bb]in/
.nuget/
_ReSharper.*
packages/
diagrams/
artifacts/
docker/database/data
allure-results/
test/allure-report/*
!test/allure-report/history/
logs/
*.user
*.suo
*.userprefs
*DS_Store
*.sln.ide
.idea/
.vs/
