@using Blazor.Extensions.Canvas.Canvas2D
@using Blazor.Extensions.Canvas
@using Blazor.Extensions
@using System.Text.Json
@using System.ComponentModel.DataAnnotations
@using System.Drawing
@using System.Globalization
@using Xellarium.Client.Pages
@using Xellarium.Shared
@inject IJSRuntime JsRuntime
@inject IApiLogic ApiLogic

@if (Rule is not null)
{
    <EditForm Model="settings">
        <DataAnnotationsValidator/>
        <ValidationSummary/>

        <div class="form-group">
            <label for="cellSize">Cell Size</label>
            <InputNumber id="cellSize" class="form-control" @bind-Value="settings.CellSize"/>
        </div>

        <div class="form-group">
            <label for="worldWidth">World Width</label>
            <InputNumber id="worldWidth" class="form-control" @bind-Value="settings.WorldWidth"/>
        </div>

        <div class="form-group">
            <label for="worldHeight">World Height</label>
            <InputNumber id="worldHeight" class="form-control" @bind-Value="settings.WorldHeight"/>
        </div>

        <div class="form-group">
            <label for="timerDelay">Timer Delay</label>
            <InputNumber id="timerDelay" class="form-control" @bind-Value="settings.TimerDelay"/>
        </div>

        <div class="form-group">
            <label for="baseColor">Base Color</label>
            <InputText id="baseColor" class="form-control" @bind-Value="settings.BaseColor"/>
        </div>

        @if (!string.IsNullOrEmpty(errorMessage))
        {
            <div class="alert alert-danger mt-3" role="alert">
                @errorMessage
            </div>
        }
    </EditForm>

    <button type="button" @onclick="Randomize" class="btn btn-primary">Random</button>
    <button type="button" @onclick="Clear" class="btn btn-primary">Clear</button>
    <button type="button" @onclick="MakeStep" class="btn btn-primary">Step</button>
    <button type="button" @onclick="() => StartRender(settings.TimerDelay)" class="btn btn-primary">Start</button>
    <button type="button" @onclick="StopRender" class="btn btn-primary">Stop</button>

    <div id="canvasHolder" style="width: auto; height: auto">
        <BECanvas @ref="CanvasRef"></BECanvas>
    </div>
}

@code{
    private string errorMessage = string.Empty;
    
    public class WorldSettings
    {
        [Range(1, 16)]
        public int CellSize { get; set; } = 16;
        [Range(1, 100)]
        public int WorldWidth { get; set; } = 50;
        [Range(1, 100)]
        public int WorldHeight { get; set; } = 50;
        [Range(100, 1000)]
        public int TimerDelay { get; set; } = 500;
        public string BaseColor { get; set; } = $"#{Random.Shared.Next(0xFFFFFF):X6}";
    }
    
    private WorldSettings settings = new WorldSettings();
    
    [Parameter]
    public RuleDTO? Rule { get; set; }
    public NeighborhoodDTO Neighborhood { get; set; } = new NeighborhoodDTO();
    private World World = new World(0, 0);
    
    private Canvas2DContext ctx;
    protected BECanvasComponent CanvasRef;
    private Timer? renderTimer;
    private bool rendered = false;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (Rule is not null && !rendered)
        {
            ctx = await CanvasRef.CreateCanvas2DAsync();
            await JsRuntime.InvokeVoidAsync("canvasClickHandler.addClickHandler", "canvasHolder", DotNetObjectReference.Create(this));
            await Clear();
        }
        await base.OnInitializedAsync();
    }

    private async Task Clear()
    {
        if (Rule is null)
            return;
        CreateWorld();
        await Render();
    }

    private void CreateWorld()
    {
        World = new World(settings.WorldWidth, settings.WorldHeight);
        for (int x = 0; x < World.Width; x++)
        {
            for (int y = 0; y < World.Height; y++)
            {
                World[(x, y)] = 0;
            }
        }
    }
    
    [JSInvokable]
    public async Task CanvasClicked(double x, double y)
    {
        if (Rule is null)
            return;
        int cellX = (int)(x / settings.CellSize);
        int cellY = (int)(y / settings.CellSize);
        World[(cellX, cellY)] = (World[(cellX, cellY)] + 1) % Rule.GenericRule.StatesCount;
        await Render();
    }

    private async Task Randomize()
    {
        if (Rule is null)
            return;
        settings.BaseColor = $"#{Random.Shared.Next(0xFFFFFF):X6}";
        var states = Rule.GenericRule.StatesCount;
        CreateWorld();
        for (int x = 0; x < World.Width; x++)
        {
            for (int y = 0; y < World.Height; y++)
            {
                World[(x, y)] = Random.Shared.Next(states);
            }
        }

        await Render();
    }

    private async Task MakeStep()
    {
        if (Rule is null)
            return;
        if (Rule.NeighborhoodId != Neighborhood.Id)
        {
            var (result, neighborhood) = await ApiLogic.GetNeighborhood(Rule.NeighborhoodId);
            if (result == ResultCode.Ok)
            {
                Neighborhood = neighborhood!;
            }
            else
            {
                errorMessage = "Failed to get neighborhood";
                return;
            }
        }
        World = Rule.GenericRule.NextState(World, Neighborhood.Offsets);
        await Render();
    }

    private void StartRender(int delay)
    {
        if (renderTimer != null)
        {
            // Если отрисовка уже запущена, ничего не делаем
            return;
        }

        renderTimer = new Timer(async _ =>
        {
            await MakeStep();
        }, null, TimeSpan.Zero, TimeSpan.FromMilliseconds(delay));
    }

    private void StopRender()
    {
        if (renderTimer != null)
        {
            renderTimer.Dispose();
            renderTimer = null;
        }
    }

    public async Task Render()
    {
        if (Rule is null)
            return;
        rendered = true;
        var worldArray = new int[World.Height][];
        for (int y = 0; y < World.Height; y++)
        {
            worldArray[y] = new int[World.Width];
            for (int x = 0; x < World.Width; x++)
            {
                worldArray[y][x] = World[(x, y)];
            }
        }

        Color baseColor;
        try
        {
            baseColor = ColorTranslator.FromHtml(settings.BaseColor);
        }
        catch (Exception e)
        {
            errorMessage = "Invalid color";
            return;
        }

        errorMessage = string.Empty;
        await JsRuntime.InvokeVoidAsync("render", settings.CellSize, worldArray, baseColor.ToArgb(), Rule.GenericRule.StatesCount);
    }
}